{%extends 'base.html'%}
{%load static%}
{%block title%}
Profil
{%endblock%}
{%block content%}
<div class="mb-9">
                <div class="row g-6">
                    <div class="col-12 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-header hover-actions-trigger position-relative mb-6" style="min-height: 130px; ">
                        <div class="bg-holder rounded-top" style="background-image: linear-gradient(0deg, #000000 -3%, rgba(0, 0, 0, 0) 83%), url({% static '/assets/img/generic/59.png' %})">
                            <div class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white dark__text-gray-1100"></div>
                        </div>
                        <label class="avatar avatar-4xl status-online feed-avatar-profile" for="upload-settings-porfile-picture">
                            <img class="rounded-circle img-thumbnail shadow-sm border-0" src="{%if user.photo_profil %}{{ user.photo_profil }} {%else%} {% static 'assets/img/team/profil_user.png' %} {%endif%}" width="300" alt="" /></label>
                        </div>
                        <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                            <div class="d-flex flex-wrap mb-2 align-items-center">
                                <h3 class="me-2">{{user.prenom}} {{user.nom}} </h3><span class="fw-normal fs-8">{{user.role}}</span>
                            </div>
                            <div class="d-flex d-xl-block d-xxl-flex align-items-center">
                                <div class="d-flex mb-xl-2 mb-xxl-0"><span class="fa-solid fa-user-group fs-10 me-2 me-lg-1 me-xl-2"></span>
                                <h6 class="d-inline-block mb-0">{{user.nb_plaintes}}<span class="fw-semibold ms-1 me-4">Plaintes</span></h6>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    </div>
                    <div class="col-12 col-xl-8">
                    <div class="border-bottom mb-4">
                        <div class="mb-6">
                        <h4 class="mb-4">Informations Générales</h4>
                            <form method="post" class="text-center" enctype="multipart/form-data">
                                {%csrf_token%}
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6">
                                    <div class="form-icon-container">
                                        <div class="form-floating">
                                            <input class="form-control form-icon-input" name="nom" type="text" placeholder="NOM" value="{{user.nom}}"/>
                                            <label class="text-body-tertiary form-icon-label">NOM</label>
                                        </div>
                                        <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                                    </div>
                                    </div>
                                    
                                    <div class="col-12 col-sm-6">
                                    <div class="form-icon-container">
                                        <div class="form-floating">
                                            <input class="form-control form-icon-input" name="prenom" type="text" placeholder="PRENOMS" value="{{user.prenom}}"/>
                                            <label class="text-body-tertiary form-icon-label">PRENOMS</label>
                                        </div>
                                        <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                                    </div>
                                    </div>

                                    <div class="col-12 col-sm-12">
                                    <div class="form-icon-container">
                                        <div class="form-floating">
                                            <input class="form-control form-icon-input" name="date_naissance" type="date" placeholder="XX-XX-XXXX" value="{{user.date_naissance_str}}"/>
                                            <label class="text-body-tertiary form-icon-label">Date de naissance</label>
                                        </div>
                                        <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                                    </div>
                                    </div>

                                    <div class="col-12 col-sm-12">
                                        <div class="form-icon-container">
                                            <div class="form-floating">
                                                <textarea class="form-control form-icon-input" id="info" style="height: 115px;" placeholder="Info" name="bio">{%if user.bio %}{{user.bio}}{%endif%}</textarea>
                                                <label class="text-body-tertiary form-icon-label" for="info">Bio</label>
                                            </div><span class="fa-solid fa-circle-info text-body fs-9 form-icon"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12">
                                    <div class="form-icon-container">
                                        <div class="">
                                            <input class="form-control form-icon-input" name="photo" type="file" accept=".png, .jpg, .jpeg" placeholder="Photo de profil" />
                                        </div>
                                        <span class="fa-solid fa-camera text-body fs-9 form-icon"></span>
                                    </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-phoenix-secondary me-2 mt-3" type="reset">Annuler</button>
                                    <button type="submit" class="btn btn-phoenix-primary mt-3"><span class="fa fa-pencil"></span> Modifier</button>
                                </div>
                            </form>
                        </div>
                        <div class="row gx-3 mb-6 gy-6 gy-sm-3">
                        <div class="col-12 col-sm-6 text-center">
                        </div>
                        <div class="col-12 col-sm-6">
                            <h4 class="mb-4">Changer le mot de passe</h4>
                            <form method="post">
                                {%csrf_token%}
                                <div class="form-icon-container mb-3">
                                <div class="form-floating"><input class="form-control form-icon-input" name="oldPassword" type="password" placeholder="Old password" /><label class="text-body-tertiary form-icon-label" for="oldPassword">Old Password</label></div><span class="fa-solid fa-lock text-body fs-9 form-icon"></span>
                                </div>
                                <div class="form-icon-container mb-3">
                                <div class="form-floating"><input class="form-control form-icon-input" name="newPassword" type="password" placeholder="New password" /><label class="text-body-tertiary form-icon-label" for="newPassword">New Password</label></div><span class="fa-solid fa-key text-body fs-9 form-icon"></span>
                                </div>
                                <div class="form-icon-container">
                                <div class="form-floating"><input class="form-control form-icon-input" name="rePassword" type="password" placeholder="Confirm New password" /><label class="text-body-tertiary form-icon-label" for="newPassword2">Confirm New Password</label></div><span class="fa-solid fa-key text-body fs-9 form-icon"></span>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-phoenix-secondary me-2 mt-3" type="reset">Annuler</button>
                                    <button type="submit" class="btn btn-phoenix-primary text-end mt-3">Changer le mot de passe</button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
{%endblock%}